*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.row{
  margin: 100px;
}
.column{
  float: left;
  padding: 10px;
}

.column.left{
  width: 50%;
}

.column.right{
  width: 50%;
  position: relative;
}

.column.right p {
  position: absolute;
  text-align: justify;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.row:after{
  content:"";
  display: table;
  clear: both;
}

h3{
  text-align: center;
  font-size: 2rem;
}

.row.bottom{
  margin: 100px;
}
.box{
  float: left;
  padding-top: :0;
  padding-bottom: 10px;
  padding-left: 50px;

}

.box.left{
  width: 50%;
  text-align: justify;
}
button{
  background-color: red;
}
.box.right{
  width: 50%;
  position: relative;
}

.row.bottom:after{
  content:"";
  display: table;
  clear: both;
}
