body {
  color: blue;
  font-family: sans-serif;
  margin: 0px;
}


div.contrast {
  background-color: rgb(100,100,100);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1, h2 {
  text-align: center;
}
h1 {
  color:rgb(163,193,173);
  font-size: 5em;
}

h2 {
  color:rgb(163,193,173);
}

h3 {
  color:rgb(163,193,173);
  font-size: 2em;
}

img {
  display:flex;

  padding: 0px;
  margin: 0 auto;
  border-radius: 0px;
  height: 250px
}



.btn {
  height: 50px;
}

.button-div {
  height: 50px;
  justify-content: center;
}

p {
  
  font-size: 2em;
  color: rgb(163,193,173);
  display: flex;
  justify-content: center;
 }
a {
  color:rgb(0,0,0);
}
ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}
li#lower {
  margin-top: 7%
}
li#lowest {
  margin-bottom: 14%
}
div.contrast {
  background-color: rgb(100,100,100);
  color: rgb(163,193,173);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style: none;
  transition: 0.6s ease;
}
li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}
.btn-cambridge{background-color:rgb(163,193,173)}
